@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #f5f5f5;
}

.input-underline {
  border: none;
  border-bottom: 1px solid #111111;
  background-color: transparent;
  outline: none;
  border-radius: 0%;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-SemiBold.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-ExtraLight.otf") format("opentype");
  font-style: normal;
  font-weight: 200;
}

@keyframes rotateInfinite {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-infinite {
  animation: rotateInfinite 7s infinite linear;
}
